.container{
	width: 960px;
	margin: 0 auto;
	border: 1px solid #ccc;
	max-height: 500px;
	height: auto;
	display: block;
}

.canvas{
	min-height: 500px;
	width: inherit;
	height: inherit;
	display: block;
	overflow: hidden;
	position: relative;
}

.canvas:before{
	content: '';
	position: absolute;
	top: 0;
	left: 105px;
	background-image: url(https://images.unsplash.com/photo-1477511350923-3986459bdee1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-size: 750px 500px;
	display: block;
	opacity: .5;
	width: 750px;
	height: 500px;

}

.img-krop{
	width: auto;
	max-height: 500px;
	position: absolute;
	top: 0;
	left: 105px;
	
}

.selector-default{
	position : absolute;
	width: 0;
	height: 0;
	border : .5px dotted #000;
}
#data{
	position: absolute;
	left: 5px;
	top: 5px;
	width: 200px;
}
.selector-point{
	width: 5px;
	height: 5px;
	display: block;
	position: absolute;
	background-color: #ccc;
	margin: 0;
	padding: 0;
}

.top-left{
	top:-3px;
	left: -3px;
	cursor: se-resize;
}
.top-center{
	top:-3px;
	left: 50%; 
	cursor: ns-resize;

}
.top-right{
	top:-3px;
	right:-3px;
	cursor: ne-resize;

}
.middle-left{
	left: -3px;
	top: 50%; 
	cursor: ew-resize;

}
.middle-right{
	right: -3px;
	top: 50%; 
	cursor: ew-resize;

}
.bottom-left{
	bottom:-3px;
	left:-3px;
	cursor: nesw-resize;

}
.bottom-center{
	bottom: -3px;
	left: 50%; 
	cursor: ns-resize;
}
.bottom-right{
	bottom:-3px;
	right:-3px;
	cursor: nwse-resize;
}