body{
	min-height: 100%;
	display: block;
}
.kropbar-wrapper{
	width: 960px;
	margin: 0 auto;
	border: 1px solid #ccc;
	max-height: 500px;
	height: auto;
	display: block;
}

.kropbar-wrapper button{
	margin-top: 5px;
	padding: 10px;
	width: 100%;
}
.modal-open{
	overflow: hidden;
}
.modal-overlay{
	position: fixed;
	
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background: #ccc;
	opacity: .5;
}

#output{
	display: none;
	overflow: hidden;
	position: absolute;
	max-width: 400px;	
	width: auto;
	height: auto;
	background: #ccc;
	padding: 5px;
	border-radius: 5px;
	z-index: 10;
}

#output canvas{
	max-width: 400px;
	max-height: 400px;
	min-height: 250px;
	width: auto;
	height: auto;
}

.output-show{
	display: block !important;
}

.btn-download{
	border-radius: 5px;
	display: block;
	max-width: 100px;
	width: auto;
	margin: 0 auto;
	padding: 5px;
}

.canvas{
	min-height: 500px;
	width: inherit;
	height: inherit;
	display: block;
	overflow: hidden;
	position: relative;
}

.image-background{
	content: '';
	position: absolute;
	/* left: 105px; */
	display: block;
	opacity: .5;
	/* max-width: 750px; */
	max-height: 500px;
	width: auto;
	height: auto;
}

.img-krop{
	/* max-width: 750px; */
	width: auto;
	height: auto;
	max-height: 500px;
	position: absolute;
	/* left: 105px; */
}

.image-init{
	position: absolute;
	left: -9000px;
}

.selector-default{
	position : absolute;
	width: 0;
	height: 0;
	border : .5px dotted #000;
}
#data{
	position: absolute;
	left: 5px;
	top: 5px;
	width: 200px;
}
.selector-point{
	width: 5px;
	height: 5px;
	display: block;
	position: absolute;
	background-color: #ccc;
	margin: 0;
	padding: 0;
}

.top-left{
	top:-3px;
	left: -3px;
	cursor: se-resize;
}
.top-center{
	top:-3px;
	left: 50%; 
	cursor: ns-resize;

}
.top-right{
	top:-3px;
	right:-3px;
	cursor: ne-resize;

}
.middle-left{
	left: -3px;
	top: 50%; 
	cursor: ew-resize;

}
.middle-right{
	right: -3px;
	top: 50%; 
	cursor: ew-resize;

}
.bottom-left{
	bottom:-3px;
	left:-3px;
	cursor: nesw-resize;

}
.bottom-center{
	bottom: -3px;
	left: 50%; 
	cursor: ns-resize;
}
.bottom-right{
	bottom:-3px;
	right:-3px;
	cursor: nwse-resize;
}